body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Grado;
}

@font-face {
    src: url("fonts/GradoGradooNF.ttf");
    font-family: Grado;
}


#title {
    color: springgreen;
}

