body {
    text-align: center;
    font-family: Grado;
    border: 2px dotted black;
    background: rgb(39,163,0);
    background: linear-gradient(90deg, rgba(39,163,0,1) 0%, rgba(254,250,245,1) 35%, rgba(255,0,0,1) 100%);
}

@font-face {
    src: url("fonts/GradoGradooNF.ttf");
    font-family: Grado;
}


#title {
    color: #019884;
    text-shadow: 2px 2px 0px black;
}

#subtitle {
    color: #019884;
    text-shadow: 2px 2px 0px black;
}

#img-main {
    background-image: url("https://media.giphy.com/media/ZZqaNf5J9i43m/giphy.gif");
    background-size: cover;
    border: 2px solid #019884;
    border-radius: 5%;
    padding: 250px 250px;
    margin: -10px 225px 10px 225px;
}

.img-dish {
    width: 500px;
    height: 325px;
    border: 2px solid red;
    border-radius: 5%;
}

.ingredients, .steps {
    border: 2px dotted black;
    text-align: left;
}
